{% extends 'base.html.twig' %}

{% block title %}Список тегов{% endblock %}

{% block body %}
    <h1>Список тегов</h1>

    <a class="btn btn-primary" href="{{ path('tag_new') }}">Создать тег</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Название тега</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>
                    <span class="glyphicon glyphicon-tag mr-1" aria-hidden="true"></span>
                    <a href="{{ path('event_index', {'tag': tag.name}) }}">
                        {{ tag.name }}
                    </a>
                </td>
                <td>{{ include('tag/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">теги не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('tag_new') }}">Создать тег</a>
{% endblock %}
